$yellow-clr: #ffca33;
$while-clr: #fafafa;
$dark-blue: #041a3f;
$grey-blue-clr: #041a3f99;
$red-clr: #e1313199;

$base-font: 'Montserrat Alternates';

$font-weight-large: 700;
$font-weight-base: 400;

$font-size-large: 53px;
$font-size-medium: 32px;
$font-size-base: 24px;
$font-size-btn: 18px;
$font-size-small: 16px;

$breakpoint_xxl: 1440px;
$breakpoint_xl: 1024px;
$breakpoint_l: 960px;
$breakpoint_m: 768px;
$breakpoint_s: 640px;
$breakpoint_xs: 320px;
