.suit-rental {
	padding-left: 289px;
	padding-right: 298px;
	margin-top: 120px;

	&__container {
		display: flex;
		align-items: center;
	}

	&__info-text {
		max-width: 1100px;
		font-weight: $font-weight-large;
		font-family: $base-font;
		color: $dark-blue;
		font-size: $font-size-large;
	}

	&__info-text span {
		color: $yellow-clr;
	}

	&__btn {
		margin-top: 48px;
		color: $while-clr;
		background-color: $yellow-clr;
		border-radius: 4px;
		padding: 5px 13px;
		font-size: $font-size-btn;
		font-family: $base-font;
		border: none;
		font-weight: $font-weight-large;
	}
}
